.form-login {
  background-color : #EDEDED;
  padding-top      : 10px;
  padding-bottom   : 20px;
  padding-left     : 20px;
  padding-right    : 20px;
  border-radius    : 15px;
  border-color     : #d2d2d2;
  border-width     : 5px;
  box-shadow       : 0 1px 0 #cfcfcf;
}

.form-revision {
  background-color : #EDEDED;
  padding-top      : 10px;
  padding-bottom   : 20px;
  padding-left     : 20px;
  padding-right    : 20px;
  border-radius    : 15px;
  border-color     : #d2d2d2;
  border-width     : 5px;
  box-shadow       : 0 1px 0 #cfcfcf;
}

.line-bottom{
  height        : 1px;
  background    : #C4C4C4;
  border-bottom : 1px solid #C4C4C4;
  border-radius : 5px;
  margin        : 20px 0;
}
.divider {
  height        : 1px;
  background    : #C4C4C4;
  border-bottom : 1px solid #C4C4C4;
  border-radius : 5px;
  margin        : 5px 0;
}

.rating-content {
  display        : flex;
  flex-direction : row;
  align-items    : center;
}
.header-number {
  font-size : 2.5em;
}
.header-text {
  font-size : 2em;
}
.sub-header-text {
  font-size : 1.5em;
}

.text-medium {
  font-size: 1.3em;
}

.marco {
  padding       : 2em .5em;
  margin        : .5em;
  border-right  : 2px solid #CDCDCD;
  border-bottom : 3px solid #CDCDCD;
  border-left   : 1px solid #CDCDCD;
  border-top    : 1px solid #CDCDCD;
  border-radius : 10px;
}
