<section> 
  <h2>Log In</h2>
  <hr>
  <form name="form" class="col-md-offset-5 col-md-3"ng-submit="login()">

      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" ng-model="user.email" placeholder="jonhdoe@example.com">
        <p class="hint" ng-show="form.email.$error.required && submitted"> Email is required</p>
      </div>

      <div class="form-group">
        <label class="form-control-label">Password</label>
        <input type="password" class="form-control" ng-model="user.password" placeholder="·······">
        <p class="hint" ng-show="form.password.$error.required && submitted">
            Password is required</p>
      </div>

      <div class="actions">
        <button class="btn btn-primary">Login</button>
      </div>
  </form>

<section>
