<section>
  <h2>Todas Mis Revisiones</h2>
  <hr>
  <div class="row container">
    <div class="col-md-4 col-sm-6 " ng-repeat="review in reviews.slice().reverse()">
      <div class="panel">
         <span class="header-text">{{review.technology.name}} |</span>  <span class="sub-header-text">{{review.reviewer.email}} </span>
      </div>
      <div class="panel-body">
        <div>
          <ul class="list-unstyled">
            <li>
              <span class="header-text">{{review.rating}}  </span><span class="text-medium">Habilidad </span>
            </li>
            <li>
              <span class="header-text">{{review.ratingEmpatia}}   </span><span class="text-medium">Empatia </span>
            </li><br>
            <li>
              <p class="text-justify text-medium"><emm>{{review.comments}} </emm><br>  <small>-{{review.reviewer.realm}}</small> </p>
            </li>
          </ul>
        </div>
          <a  ui-sref="edit-review({ id: review.id })" class="btn btn-warning">Edit</a>
          <a  a ui-sref="delete-review({ id: review.id })" class="btn btn-danger">Delete</a>
      </div>

    </div>
  </div>
</section>
