<section>

  <div class="container" ng-submit="login()">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">

        <form name="form" ng-submit="register()" class="form-login">
          <h2 class="header-form text-center">¡Bienvenido!</h2>
          <div class="line-bottom"></div>

          <p>Nombre</p>
          <input name="realm" type="text" ng-model="user.realm" class="form-control" placeholder="Nombre completo"><br>

          <p>Email</p>
          <input name="email" type="email" ng-model="user.email" class="form-control" placeholder="email@ejemplo.com"><br>

          <p>Password</p>
          <input name="password" type="password" ng-model="user.password" class="form-control "placeholder="·········"><br>

          <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </form>
      </div>
    </div>
  </div>

</section>
